.logo {
	text-decoration: none;
	font-size: 2em;
	display: inline-block;
	padding: .5rem 0 .5rem 1rem;
	flex: 1;
}

.toolbar {
	border-bottom: 1px solid #333;
	display:flex;
	width:100%;
	flex-direction:row;
	align-content:stretch;
}

.loginForm {
	flex:1;
	align-self: center;
	text-align: right;
}

.loginForm input {
	margin-right: 1.5em;
}

.loginForm button { 
	margin-right: 3em;
}

.buttonLink {
	border: 0 none;
	color: blue;
	background-color:transparent;
	font-size:1em;
}